Repository incubateur-ademe/nosgestesclimat, pull requests merged in 2023-03, with the labels that each got.

#1747 Feat(scripts/i18n): add v0 translation scripts for region models
  docs/Home.md
  docs/_Sidebar.md
  docs/translation.md
  package.json
  scripts/i18n/cli.js
  scripts/i18n/regionCommons.js
  scripts/i18n/translateRegionModel.js
  scripts/i18n/utils.js
  scripts/rulesToJSON.mjs
  yarn.lock
Labels: tech, i18n, t9n

#1757 Feat(scripts/t9n): improvement on the rule translation workflow
  data/i18n/t9n/translated-rules-en-us.yaml
  data/transport/actions/transport.yaml
  package.json
  scripts/i18n/check-translation.js
  scripts/i18n/cli.js
  scripts/i18n/regionCommons.js
  scripts/i18n/translate-rules.js
  scripts/i18n/translateRegionModel.js
  scripts/rulesToJSON.mjs
  yarn.lock
Labels: tech, t9n

#1772 feat(script/t9n): print diff in the interactive mode of the rule translation
  package.json
  scripts/i18n/cli.js
  scripts/i18n/translate-rules.js
  yarn.lock
Labels: tech, t9n

#1774 Feat(scripts/t9n): iteration on translation script improvements
  data/i18n/t9n/translated-rules-en-us.yaml
  scripts/i18n/check-translation.js
  scripts/i18n/cli.js
  scripts/i18n/translate-rules.js
  scripts/i18n/utils.js
Labels: tech, t9n

#1777 feat(t9n/en-us): take into account the feedback from UK students
  data/i18n/t9n/translated-rules-en-us.yaml
Labels: t9n

#1769 Electroménager v2
  data/divers/divers . ameublement.yaml
  data/divers/divers . électroménager.yaml
  data/i18n/t9n/translated-rules-en-us.yaml
  data/logement/actions/logement.yaml
  data/numérique/numérique.yaml
  personas/personas-fr.yaml
Labels: divers
