Repository incubateur-ademe/nosgestesclimat, pull requests merged in 2023-02, with the labels that each got.

#1668 Feat: support model compression
  .github/workflows/upload-compilation-result.yaml
  .nvmrc
  package.json
  scripts/i18n/addTranslationToBaseRules.js
  scripts/modelOptim.js
  scripts/rulesToJSON.js
  yarn.lock
Labels: tech

#1696 Multi i18n models
  INTERNATIONAL.md
  data/i18n/models/CH-en-us.yaml
  data/i18n/models/CH.yaml
  data/i18n/models/GP-en-us.yaml
  data/i18n/models/GP.yaml
  data/i18n/t9n/translated-rules-en-us.yaml
  data/i18n/t9n/translated-rules-es.yaml
  data/i18n/t9n/translated-rules-it.yaml
  scripts/i18n/addRegionToBaseRules.js
  scripts/i18n/addTranslationToBasePersonas.js
  scripts/i18n/addTranslationToBaseRules.js
  scripts/i18n/check-translation.js
  scripts/i18n/cli.js
  scripts/i18n/translate-rules.js
  scripts/i18n/utils.js
  scripts/rulesToJSON.mjs
Labels: i18n

#1704 Correction impact fabrication véhicule
  data/transport/transport . voiture.yaml
Labels: transport

#1720 Affichage des résultats des personas en commentaire des PR
  .github/workflows/upload-compilation-result.yaml
  package.json
  tests/testPersonas.js
Labels: tech
